html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url("assets/background.jpg");
	background-position: center;
	background-size: cover;
	color: white;
}

.Opponent {
	/* animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear; */
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

.gamebutton {
	border: none;
	background: #FF5733;
	color: #C70039;
	padding: 10px 20px;
	outline: none;
	font-family: Arial, sans-serif;
	cursor: pointer;
}

/* body {
	background-color: #2E4053;
} */
